#timeline {
  // font-family: "Neuropol", sans-serif;
  height: 650px;
  position: relative;
  overflow: hidden;
  #line {
    height: 6px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 49.6%;
    left: 0;
  }
  #container {
    height: 100%;
    width: 100%;
    background-color: #100032;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &::before {
      content: "ROADMAP";
      font-weight: bold;
      color: white;
      font-size: 48px;
      position: absolute;
      top: 60px;
    }

    .timestamp {
      width: 36px;
      height: 36px;
      background-color: #ffa500;
      box-shadow: 0 0 32px #ffa500;
      outline: 6px solid white;
      border-radius: 50%;
      color: white;
      display: grid;
      place-items: center;
      position: relative;
      z-index: 3;
      cursor: pointer;
      transition: outline-offset 0.2s ease-out;

      .points {
        width: 240px;
        height: fit-content;
        position: absolute;
        top: 200%;
        background-color: white;
        color: black;
        font-size: 12px;
        border: 8px solid white;
        border-radius: 16px;

        &::before {
          content: "";
          width: 6px;
          height: 22px;
          background-color: white;
          position: absolute;
          z-index: -1;
          top: -30px;
          left: 49%;
        }
      }

      &:nth-child(even) {
        .points {
          top: -800%;
          &::before {
            height: 212px;
            top: 54px;
            background-color: white;
            z-index: -1;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #container {
    .timestamp:first-child {
      .points {
        left: -23px;
        &::before {
          margin-left: -80px;
        }
      }
    }
    .timestamp:last-child {
      .points {
        right: -21px;
        &::before {
          margin-left: 80px;
        }
      }
    }
  }
}
@media (max-width: 660px) {
  .points {
    outline: 5px solid gray;
    box-shadow: 0 0 16px black;
  }
}
