.why-section {
  background: #100032;
  color: #fff;
}
@media (min-width: 800px) {
  .why-section {
    padding-inline: 80px;
  }
}

#why-title {
  width: fit-content;
  padding: 2.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(to right, #100032, #220268, #100032);
  margin-bottom: 40px;
}
#subtitle {
  text-align: right;
}

table.GeneratedTable {
  width: 100%;
  border-collapse: collapse;
  color: #ffffff;
}

table.GeneratedTable thead {
  border-bottom: 1px dotted gray;
}
table.GeneratedTable th:first-child {
  border-right: 1px dotted gray;
}
table.GeneratedTable td:first-child {
  border-right: 1px dotted gray;
}

table.GeneratedTable th {
  text-align: center;
  padding: 25px;
}
table.GeneratedTable td {
  text-align: center;
  padding: 8px;
}

table.GeneratedTable thead {
  background-color: #100032;
}
table.GeneratedTable tr:nth-child(even),
table.GeneratedTable th {
  background-color: #220268;
}

.tick {
  width: 48px;
}
.x {
  color: red;
  font-weight: 900;
}

@media (max-width: 680px) {
  #why-title {
    width: 100%;
    text-align: center;
  }
  #subtitle {
    text-align: center;
  }
  table.GeneratedTable {
    font-size: 12px;
  }
  table.GeneratedTable th {
    text-align: center;
    padding-inline: 4px;
  }
  table.GeneratedTable td {
    padding-inline: 4px;
  }
  .tick {
    width: 20px;
  }
  .x {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  table.GeneratedTable {
    font-size: 10px;
  }
  table.GeneratedTable th {
    padding-inline: 2px;
  }
  table.GeneratedTable td {
    padding-inline: 2px;
  }
  .tick {
    width: 16px;
  }
  .x {
    font-size: 14px;
  }
}
@media (max-width: 310px) {
  table.GeneratedTable {
    font-size: 8px;
  }
  table.GeneratedTable th {
    padding-inline: 2px;
  }
  table.GeneratedTable td {
    padding-inline: 2px;
  }
  .tick {
    width: 14px;
  }
  .x {
    font-size: 12px;
  }
}
