.section {
    padding: 7% 0;
    position: relative;
    z-index: 0;
  }
  .tournament-section .bg__holder {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url('../../assets/images/tournament-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .container {
    max-width: 96%;
    position: relative;
    z-index: inherit;
  }
  /* Tournament */
.tournament .heading__1 {
    color:#ffffff;
    font-family: "Neuropol", sans-serif;
    font-weight: 400;
  }
  
  .tournament .heading__3 {
    color: #ffffff;
  }
  .heading__3 {
    font-size: calc(1rem + 1vmin);
    font-weight: 400;
    font-family: "Neuropol", sans-serif;
  }
  .tournament .para {
    font-size: calc(0.625rem + 1vmin);
  }