/*
=======================================
---------------- HEADER SECTION STYLES ---------------------
=======================================
*/

/* Header */
.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navigation-menu {
  background-color: #100032;
  padding: 0.875rem 0;
}

.navigation-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.375rem;
}

.brand .brand-logo {
  width: 162px;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.nav-menu__nav {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item-link {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  text-transform: capitalize;
}

.nav-item-link:hover {
  color: #7802af;
}

.user-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.25rem;
}

.cta-group {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
  display: none;
}

.header-main .you-btn {
  background-image: -webkit-linear-gradient(
    112deg,
     #7802af 0%,
     #0cc6ef 100%
  );
  background-image: linear-gradient(
    -22deg,
     #7802af 0%,
    #0cc6ef 100%
  );
  padding: 0.375rem 1.5rem;
  border-radius: 50rem;
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.0625rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: inline-block;
}

.header-main .you-btn:hover {
  color: #ffffff;
  background-image: -webkit-linear-gradient(
    112deg,
    #7802af 0%,
    #0cc6ef 90%
  );
  background-image: linear-gradient(
    -22deg,
    #7802af 0%,
    #0cc6ef 90%
  );
}

.user-details-btn .btn {
  color:#ffffff;
  font-size: 1.75rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
  padding-right: 0;
  border: none;
  outline: none;
  display: none;
}

.user-details-btn .dropdown-menu {
  background-color:  #100032;
  -webkit-transform: translate3d(0px, 68px, 0px) !important;
  transform: translate3d(0px, 68px, 0px) !important;
  box-shadow: 0 0.25rem 1rem 0 rgba(1, 234, 255, 0.21);
  border-radius: 0.5rem;
  overflow: hidden;
}

.user-details-btn .dropdown-item {
  color:  #ffffff;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.user-details-btn .dropdown-item:focus,
.user-details-btn .dropdown-item:hover {
  background-color:  #7802af;

}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.375rem;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}

.menu-btn .bar {
  display: inline-block;
  width: 1.75rem;
  height: 0.1875rem;
  border-radius: 50rem;
  background-color: #18b3e9;
  position: relative;
  z-index: inherit;
  -webkit-transition: 350ms ease;
  transition: 350ms ease;
}

.menu-btn.active .bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(7px, 5px);
  transform: rotate(45deg) translate(7px, 5px);
}

.menu-btn.active .bar:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}

.menu-btn.active .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(8px, -6px);
  transform: rotate(-45deg) translate(8px, -6px);
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 0;
  height: 100%;
  min-width: 280px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--purple-400, #100032);
  padding: 3.5rem 1.5rem 1.5rem;
  gap: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  box-shadow: -0.25rem 0 2rem 0 rgba(0, 0, 0, 0.32);
}

.mobile-menu.show {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.mobile-menu .nav-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.mobile-menu .user-group {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.mobile-menu .user-details-btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


/* Extra Large Devices */
@media screen and (min-width: 1200px) {
  /* Header */
  .cta-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* Hero */
  .hero .hero__content {
    margin-right: unset;
    padding-top: 4.2rem;
  }
}

@media screen and (min-width: 992px) {
  /* Header */
  .nav-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .user-details-btn .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .mobile-menu,
  .menu-btn {
    display: none;
  }
}
